$baseCls: 'un-entity-counts';

$un-li-padding: 55px;
$un-chart-size: 42px;

.#{$baseCls} {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 325px;
  }

  li {
    width: 50%;
    display: block;
    float: left;
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;

    span {
      font-family: $font-family-1;
      font-weight: 600;
      font-size: 12px;
      color: #999999;
      display: block;
      padding-left: $un-li-padding;

      b {
        padding-top: 6px;
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        display: block;
      }
    }

    .un-chart-canvas-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: $un-chart-size;
      height: $un-chart-size;
    }
  }

  li.un-clear {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: left;
  }

  li.un-border-bottom {
    border-bottom: solid 1px #E8E8E8;
  }

  li:nth-child(even) {
    span {
      padding-left: 45px
    }
  }

  &-errors {
    b, span {
      color: #EE1D23 !important;
    }
  }

  &-ratio {
    b {
      margin-top: 5px;
      font-size: 24px !important;
    }

    .#{$baseCls}-ratio-numerator {
      width: 85px;
      border-bottom: solid 1px #E8E8E8;
    }

    .#{$baseCls}-ratio-numerator-errors {
      color: #EE1D23;
    }
  }
}