$baseCls: 'un-composite-cleanse-function';

.#{$baseCls} {
  .#{$baseCls}-icon-constant {
    font-family: $font-family-linearicons;
    color: #f68047;
    text-align: center;
    font-size: 17px;
  }

  .#{$baseCls}-icon-constant:before {
    content: '\e921';
  }

  .#{$baseCls}-icon-ifthenelse {
    color: #2BB6BB;
    text-align: center;
    font-size: 17px;
  }

  .attribute-tree {
    .#{$prefix}grid-tree-node-leaf {
      .#{$prefix}grid-cell {
        cursor: move;
      }
    }
  }

  .#{$baseCls}-grid-system-block {
    .#{$prefix}grid-row {

      .#{$prefix}grid-cell:first-child {
        background-color: #ddd;
      }

      .#{$prefix}grid-cell {
        cursor: move;
        background-color: #eee;

        .#{$prefix}grid-cell-inner {
          text-align: center;
          padding-left: 6px;
        }
      }
    }

    .#{$prefix}grid-item {
      border-style: solid;
      border-width: 1px 0 0;
      border-color: white;
    }
  }

  .#{$baseCls}-slider-container {
    border-bottom: 1px solid #ddd;
    position: absolute;
    padding-left: calc(50% - 160px);
    padding-top: 9px;
    top: 0;
    height: 36px;
    width: 100%;

    .#{$prefix}form-item-label {
      padding-top: 0;
    }

    .#{$prefix}form-item-label-inner {
      font-size: 12px;
      color: #666;
    }

    .un-slider-increment-button {
      background: none;
      width: 16px;
      height: 16px;
      font-size: 18px;
      margin-right: 4px;
      margin-left: 4px;
      color: #666;
      text-align: center;
      vertical-align: middle;
      position: relative;
      border: 1px solid transparent;

      &:hover {
        background-color: #f5f5f5;
        border: 1px solid #dadada;
      }
    }
    .un-slider-button-minus::before {
      position: absolute;
      content: "-";
      top: -2px;
      left: 5px;
    }
    .un-slider-button-plus::before {
      position: absolute;
      content: "+";
      top: -1px;
      left: 3px;
    }
  }

  .#{$baseCls}-slider {
    //position: absolute;
    //left: calc(50% - 100px);
    //top: 5px;
  }

  .un-cf-full-container {
    > .#{$prefix}panel-body {
      background: #f4f8fd;
    }
  }
}