/**
 * ui для панелей для визарда тестирования правил качества
 */

$ui-name: 'un-dq-testwzrd-panel';

$backgroundColor: #f2f2f2;

@include extjs-panel-ui(
    $ui: $ui-name,
    $ui-header-background-color: $backgroundColor,
    $ui-body-background-color: $backgroundColor
);

.x-panel-header.x-panel-header-#{$ui-name} {
    border-bottom: 1px solid #a6a6a6 !important;
}
