.un-attribute-errorpanel {
    cursor: pointer;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        user-select: none;
    }

    li:before {
        content: '•';
        padding-right: 4px;
    }
}
