$baseCls: 'unidata-cfblock-port-endpoint';
.#{$baseCls} {
  font-size: 8px !important;
  font-weight: 600;
  user-select: none;
  z-index: 3;

}

.#{$baseCls}-dark {
  color: white !important;
  font-size: 8px !important;
  font-weight: 500;
  user-select: none;
  z-index: 3;
}

.un-ifthen-else-remove-port:after{
  content: '\e681'
}

._jsPlumb_connector {
  z-index: 1;
}

._jsPlumb_endpoint {
  z-index: 2;
}
