$baseCls: '.un-lookup-attribute-search-wnd';

#{$baseCls} {
  .un-lookup-attribute-search-results {

    .un-lookup-attribute-search-results-table {

      .x-grid-item-selected,
      .x-grid-item-over {
        .x-grid-cell {
          background: #C6E7F5 !important;
        }
      }
    }

    .un-lookup-attribute-details {
      border-top: 2px solid #797979 !important;
    }
  }

}
