$ui-name: 'un-dottedmenu';

@include extjs-button-ui(
  $ui: $ui-name,
  $border-width: 0,
  $border-radius: 0,
  $background-color: transparent,
  $color: $color-primary-1-1,
  $color-over: $color-primary-1-3,
  $include-ui-menu-arrows: false,
  $include-ui-split-arrows: false,
  $include-split-noline-arrows: false,
  $include-split-over-arrows: false,
  $icon-size: 0,
  $line-height: 0,
  $padding: 0,
  $text-padding: 0
);

.x-btn-#{$ui-name} {

  &-small {
    font-size: 13px;
  }

  &-medium {
    font-size: 19px;
  }

  &-large {
    font-size: 22px;
  }


  &-small, &-medium, &-large {
    overflow: visible;

    .x-btn-inner {
      display: none;
    }

    &.x-btn-disabled {
      @include opacity(0.4);
    }
  }

  &-small, &-medium, &-large {
    .default.x-btn-icon-el {
      display: block;
      position: relative;
      width: 1.25em;
      height: 1.25em;

      &:before {
        content: '\02807';
        color: $color-primary-1-2;
        font-size: 1.38em;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.47em;
        margin-left: -0.25em;
      }
    }

    .x-btn-icon-el {
      display: block;
      position: relative;
      width: 1.25em;
      height: 1.25em;

      &:before {
        color: $color-primary-1-2;
        font-size: 1.25em;
        line-height: 1em;
        position: absolute;
        margin-top: -0.065em;
        margin-left: -0.26em;
      }
    }
  }
}
