$baseCls: 'un-dq-rule-port-editor';

.#{$baseCls} {
  .un-dq-rule-port-warning {
    font-size: 12px;
    color: #507fba;
  }
}

.#{$baseCls}-no-attributes-warning {
  padding: 15px 25px;
  font-size: 13px;
  color: #777777;

  div:first-child {
    margin-bottom: 10px;
  }
}