.x-vbox-form-item {
  .x-form-item-body {
    height: auto;
    vertical-align: top;
  }
}

.un-form-items-height-auto {
  .x-form-trigger-wrap,
  .x-form-item-body {
    height: auto;
    vertical-align: top;
  }
}
